*{
  background-color: black;
  color: white;
}

button{
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.858);
  color: black;
  font-size: larger;
  margin: 10px;
  border-radius: 10px;
  font-weight: 700;
}