*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,html{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.845);
  color: white;
}

input{
  padding: 10px;
  display: flex;
}