*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 70px;
  text-decoration: underline;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(13, 123, 170);
}

.nav div{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}