*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.871);
  color: white;
}
div{
  padding: 20px;
}

input{
  padding: 10px;
  font-size: 50px;
  border-radius: 5px;
}

button{
  padding: 10px;
  font-size: 50px;
  border-radius: 5px;
  margin-top: 30px;
}