*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
body{
  padding: 20px;
  gap: 10px;
}

.Parent{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Card{
  width: 20%;
  background-color: #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
  gap: 10px;
  padding: 20px;
}

.Card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  align-self: center;
}

button{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}