*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.light{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: rgb(18, 190, 133);
}

.dark{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: rgb(7, 48, 35);
}

.nav2{
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn{
  padding: 10px 20px;
  background-color: rgba(32, 193, 218, 0.663);
  color: white;
  border-radius: 10px;
  margin-top: 30px;
  align-self: center;
  border: none;
  outline: none;
  cursor: pointer;
  font: bold;
}

.btn:active{
  transform: scale(0.95);
}

.btn-class{
  display: flex;
  align-items: center;
  justify-content: center;
}