*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card{
  /* height: 5rem;
  width: 5rem; */
  background-color: brown;
  border-radius: 1rem;
  padding: 5rem;
  font-size: 2rem;
  margin: 1rem;
}

.Navbar{
  width: 100%;
  background-color: rgb(105, 105, 245);
  border-radius: 1rem;
  padding: 3rem;
  font-size: 2rem;
}