.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: rgb(81, 35, 123);
    color: white;

}

.btn{
    outline: none;
    border: none;
    background-color: blue;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}