*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,html{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.845);
  color: white;
}

div{
  padding: 10px;
}

h1{
  background-color: rgb(81, 81, 81);
  width: fit-content;
  font-size: 100px;
  padding: 20px 80px;
  margin-left: 200px;
  border-radius: 5px;
}

button{
  margin: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.807);
  font-size: 50px;
  cursor: pointer;
}